<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androiddaisyreader.apps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
		android:theme="@style/CustomTheme">
        <activity
            android:name="org.androiddaisyreader.apps.DaisyReaderLibraryActivity"
            android:label="@string/title_activity_daisy_reader_library"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.androiddaisyreader.apps.DaisyEbookReaderActivity"
            android:label="@string/title_activity_daisy_ebook_reader" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.androiddaisyreader.apps.DaisyEbookReaderSimpleModeActivity"
            android:label="@string/title_activity_daisy_ebook_reader_simple_mode" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.androiddaisyreader.apps.DaisyReaderTableOfContentsActivity"
            android:label="@string/title_activity_daisy_reader_table_of_contents" 
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>